{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in storages %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["total"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="table-success">
                <td colspan="4">GRAND TOTAL</td>
                <td>{{ grand_total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
